h2 {
    margin-left: 40%;
    width: 600px;
    font-size: 40px;
    padding: 20px;
}
.copyright {
    margin-left: 30%;
}

p {
    font-size: 25px;
    margin: auto;
    width: 700px;
    text-align: justify;
}


.links-copyright a {
    display: block;
    font-size: 20px;
    text-align: center;
}

#back {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    background: #e5f58b;

    cursor: pointer;
    border-radius: 15px;
    font-size: 30px;
}
#back:hover {
    background: #ddf74e;
}

a {
    color: black;
}

.github:hover {
    font-size: 27px;
}