* {
    margin: 0;


}
.nav-bar {    
    background-color: #e5f58b;
    /*position: fixed;*/

}

h4 {
    color: black;
    max-width: 5px;
    font-size: 35px;
    display: inline-block;
    margin-left: 10%;
    line-height: .9;
    padding: 5px;
}

nav {
    float: right;
    font-size: 30px;
    margin-right: 10%;
    margin-top: 25px;

}

a {
    background-color: #e5f58b;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 20px;

}
a:hover {
    background-color: #ddf74e;
    border-radius: 10px;
    text-decoration: underline;
}

.introducer {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    max-width: 100%;
    height: 560px;
}

img {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    float: right;
    border-radius: 15px;
}

h2 {
    margin-left: 40%;
    width: 400px;
    font-size: 50px;
    padding: 20px;
}
.about-me-description {
    margin-left: 30%;
    width: 500px;
    font-size: 40px;
    text-align: justify;
}
hr {
    margin-top: 50px;
}
.actuation-h {
    margin-top: 6px;
    margin-left: 40%;
    margin-bottom: 10px;
}

#legal-document {
    float: none;
    width: 100px;
    height: 100px;
}
#legal-document:hover {
    width: 102px;
    height: 102px;
    box-shadow: 5px 5px #bebdbd;
}
#police-hat:hover {
    width: 102px;
    height: 102px;
    box-shadow: 5px 5px #bebdbd;
}

#police-hat{

    float: none;
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-right: 30%;
}
.inq, .action {
    display: inline-block;
    margin-left: 22%;
    font-size: 40px;
    text-align: justify;
}

.enter-contact h2 {
    margin-left: 40%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.enter-contact p {
    font-size: 40px;
    margin-left: 30%;
    display: inline-block;
}

.enter-contact a {
    background-color: white;
    font-size: 30px;
    text-decoration: underline;
    margin-left: 5%;
    
}

.enter-contact a:hover {
    font-size: 32px;
    text-decoration: underline  #ddf74e ;
}
h5 {
    margin-left: 43%;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
}
#message-h {
    margin-top: 20px;
    margin-bottom: 9px;
}

input{
    display: block;
    margin: auto;
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: solid 1px;
}
textarea {
    display: block;
    margin: auto;
    width: 500px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: solid 1px;
    resize: none;
}
input[type="submit"] {
    width: 500px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #e5f58b;
    border: none;
}
input[type="submit"]:hover {
    background-color: #ddf74e;
    width: 510px;
    height: 35px;
    cursor: pointer;
}

footer h5 {
    margin-left: 40%;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
}

footer p {
    display: block;
    margin-left: 40%;
}

footer a {
    background-color: white;
    margin-left: 35%;
    padding: 0;
}
